<a href="https://colab.research.google.com/github/Vuthukaduharitha/Sai-Haritha/blob/master/Assessment(4_7_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.What is dictionary in Python? Explain with an example

Dictionaries are another example of a data structure. A dictionary is used to map or associate things you want to store the keys you need to get them. A dictionary in Python is just like a dictionary in the real world. Python Dictionary are defined into two elements Keys and Values. Values can be a list or list within a list, numbers, etc.

eg

In [1]:
mydict = {'StuName': 'Ajeet', 'StuAge': 30, 'StuCity': 'Agra'}
print("Student Age is:", mydict['StuAge'])
print("Student City is:", mydict['StuCity'])

Student Age is: 30
Student City is: Agra

2.Write a Python program to sum all the items in a list

In [2]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

3.Write a Python program to create a list of empty dictionaries.

In [ ]:
n = 5
l = [{} for _ in range(n)]
print(l)

4.Write a Python program to access dictionary keys element by index

In [3]:
num = {'physics': 80, 'math': 90, 'chemistry': 86}
print(list(num)[0])

physics

5.Write a Python program to iterate over dictionaries using for loops

In [5]:
d = {'Red': 1, 'Green': 2, 'Blue': 3} 
for color_key, value in d.items():
     print(color_key, 'corresponds to ', d[color_key])

Red corresponds to  1
Green corresponds to  2
Blue corresponds to  3

6.Write a Python program to sum all the items in a dictionary.

In [6]:
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

7.Write a Python script to concatenate following dictionaries to create a new
one. Sample Dictionary :
a. dic1={1:10, 2:20}
b. dic2={3:30, 4:40}
c. dic3={5:50,6:60}

In [7]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

8.Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

9.Write a Python program to create a tuple

In [9]:
#Create an empty tuple 
x = ()
print(x)
#Create an empty tuple with tuple() function built-in Python
tuplex = tuple()
print(tuplex)

()
()

10.Write a Python program to create a tuple with different data types

In [10]:
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

11.Write a Python program to convert a tuple to a string

In [11]:
tup = ('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str =  ''.join(tup)
print(str)

exercises

12..Write a Python program to slice a tuple

In [14]:
my_tuple = ()
print(my_tuple)

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

13..Write a Python program to find the length of a tuple.

In [15]:
tuplex = tuple("Haritha")
print(tuplex)
print(len(tuplex))

('H', 'a', 'r', 'i', 't', 'h', 'a')
7

14.Write a Python program to convert a tuple to a dictionary

In [16]:
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

15..Write a Python program to reverse a tuple

In [17]:
x = ("w3resource")
# Reversed the tuple
y = reversed(x)
print(tuple(y))
#create another tuple
x = (5, 10, 15, 20)
# Reversed the tuple
y = reversed(x)
print(tuple(y))

('e', 'c', 'r', 'u', 'o', 's', 'e', 'r', '3', 'w')
(20, 15, 10, 5)

16..Write a Python program to convert a list of tuples into a dictionary

In [18]:
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

17..Write a Python program to convert a list to a tuple.

In [19]:
#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)