<a href="https://colab.research.google.com/github/Vuthukaduharitha/Sai-Haritha/blob/master/Assignment(25_06_20).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.function that returns first and last of a number

In [2]:
def firstDigit(n) : 
    while n >= 10:  
        n = n / 10;  
    return int(n)  
def lastDigit(n) : 
    return (n % 10) 
n = 98562; 
print(firstDigit(n), end = " ")  
print(lastDigit(n))

9 2

2. generate first n fibonacci numbers

In [ ]:
def Fibonacci(n): 
    if n<0: 
        print("Incorrect input") 
    elif n==1: 
        return 0 
    elif n==2: 
        return 1
    else: 
        return Fibonacci(n-1)+Fibonacci(n-2)  
print(Fibonacci(4))

2

 3.function N number of marks and names from user and display the names of fail students (marks<40).take N value from user

In [3]:
students=[]
for num in range(5):
    x=input("Enter name of students: ")
    students.append(x)

marks=[]
for num in range(5):
    y=input("Enter marks of students:")
    marks.append(y)

report = input("Do you want to print class report?: ")
if report == 'yes':
    print(x[0],":", y[0])
    print(x[1],":", y[1])
    print(x[2],":", y[2])
    print(x[3],":", y[3])
    print(x[4],":", y[4])

Enter name of students: haritha
Enter name of students: keerthu
Enter name of students: akhila
Enter name of students: uma
Enter name of students: leena
Enter marks of students:10
Enter marks of students:20
Enter marks of students:30
Enter marks of students:30
Enter marks of students:40
Do you want to print class report?: 40

 4.display multiplication table and take value from user

In [11]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

5.take numbers from user until the number is -1  and display the product and average of all numbers

In [14]:
first_number = int(input("Please enter the first Value: "))
second_number = int(input("Please enter another number: "))
product = first_number * second_number
average = (first_number + second_number) / 2

print('product is {}'.format(product))
print('average is {}'.format(average))

Please enter the first Value: -2
Please enter another number: -1
product is 2
average is -1.5